{% extends "_base.html" %}

{% block title %}{% endblock %}
{% block css %}<link rel="stylesheet" href="/css/addNew.css" media="screen" title="no title">{% endblock %}

{% block content %}

<div class="container signIn-form">
  <div class="col-md-6  addForm col-md-offset-3">
    <form class="login" action="/login" method="post">
      <h3>Login to access your account</h3>
      <input required type="text" name="username" class="form-control signIn" placeholder="Please Enter Your Username">

      <input required type="password" name="password" class="form-control signIn" placeholder="Please Enter Your Password">

      {% if err %}
      <div class="logErr">
        username and/or password is wrong.
      </div>
      {% endif %}
      <button type="submit" class="btn btn-success col-md-4 col-md-offset-1">Sign In</button>
      <a href="/" class="btn btn-danger col-md-4 col-md-offset-2">Cancel</a>
    </form>
  </div>
</div>

{% endblock %}
