{% extends "_base.html" %}
{% block title %}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="/css/restaurant.css">
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    {% for restaurant in restaurants %}
    {% if loop.index % 3 == 0 %}
    <div class="row">
    {% endif %}
    <div class="col-md-4">
        <a href="/restaurants/{{ restaurant.id }}"><img src="{{ restaurant.url }}" alt="restaurant image" class="col-xs-12"></a>
        <h4 class="col-xs-12"><a href="/restaurants/{{ restaurant.id }}">{{restaurant.name}}</h4></a>
        <h5 class="col-xs-12">{{ restaurant.location }}</h5>
          <div class="starsDiv col-xs-12" id="{{restaurant.id}}review">
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <p id="starRating" class = "starRating">
              {{ restaurant.avg_review }}
            </p>
          </div>
        <p class="col-xs-12 text-justify">
          {{ restaurant.description }}
        </p>
        <h6 class="col-xs-12"><strong>Cuisine Type: {{ restaurant.type }}</strong></h6>
    </div>
    {% if loop.index % 3 == 0 %}
    </div>
    {% endif %}
    {% endfor %}
    {% if more %}
    <a href="/restaurants/page/{{ nextPage }}" style="margin-left: 49%;">Next</a>
    {% endif %}

  </div>
</div>

{% endblock %}
{% block scripts %}
  <script type="text/javascript" src="/js/restaurants.js"></script>
{% endblock %}
