{% extends "_base.html" %}
{% block title %}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="/css/restaurant.css">
  <link rel="stylesheet" href="/css/edit.css">
{% endblock %}

{% block content %}

<div class="container-fluid restaurantContainer">
  <div class="row editListingRow">
    <div class="col-md-10 col-md-offset-1">
      <h1>Would you like to delete or edit the entire restaurant listing?</h1>
      <div class="entireListingEdit">
        {% include "owner_edit_delete.html" %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="restaurantName">
        {% if results[0] %}
          {% include "owner_edit_modal.html" %}
          <h1>{{results[0].name}}</h1>
        {% endif %}
      </div>
        <div class="restaurantIMG">
          {% if results[0] %}
              <img src={{results[0].url}} alt="restaurant image" width="500"/>
          {% endif %}
        </div>


        {% if results[0] %}
        <div class="location">
          <h1>{{results[0].location}}</h1>
        </div>
        {% endif %}
        <div class="starsDiv" id="{{results[0].restaurant_id}}restaurant">
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <p id="starRating" class = "starRating">
            {{results[0].avg_review}}
          </p>
        </div>

        {% if results[0] %}
        <p class="restaurantDescription">
          {{results[0].description}}
        </p>
        {% endif %}
        <div class="cuisineType">
          <h4 class="cuisineType">
            <strong>Cuisine Type:</strong>
          </h4>
          {% if results[0] %}
          <h5>
            {{results[0].type}}
          </h5>
          {% endif %}
        </div>
    </div>
    <div class="col-md-6">

      <h2><strong>{{ results[0] | length }} Reviews</strong></h2>
      <div class="well reviews-well">
        {% for result in results %}
          <div class="row">
            <p>
              {{result.review}}
            </p>
          </div>
        <div class="row">
          <div class="col-md-4">
            <!-- <button type="button" class="btn btn-default btn-lg"> -->
            <h5>
              <div class="starsDiv" id="{{result.user_id}}review">
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <p id="starRating" class = "starRating">
                  {{result.rating}}
                </p>
              </div>
            <!-- </button> -->
          </h5>
          </div>
          <div class="col-md-4 col-md-4-offset-4">
            <h5>{{result[0].created_at}}</h5>
          </div>
          <div class="col-md-4 col-md-4-offset-8">
            <h5>{{result.first_name}}, {{result.last_name | truncate(1, true, '.')}}</h5>
          </div>
        </div>
        <hr>
      {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
  <script type="text/javascript" src="/js/restaurants.js"></script>
  <script type="text/javascript" src="/js/edit_owner.js"></script>
{% endblock %}
