{% extends "_base.html" %}
{% block title %}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="/css/restaurant.css" title=""e="restaurant">
{% endblock %}

{% block content %}

<div class="container single-rest">
  <div class="row">
    <div class="col-md-6">
        <h1>{{restraurant.name}}</h1>
        <img src="{{restraurant.url}}" alt="restaurant image" width="500"/>
          <h1>{{restraurant.location}}</h1>
        <div class="starsDiv" id="{{results[0].restaurant_id}}restaurant">
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <p id="starRating" class = "starRating">
            {{restraurant.avg_review}}
          </p>
        </div>

        <p>
          {{restraurant.description}}
        </p>

        <h4><strong>Cuisine Type:</strong></h4>
        <h5>
          {{restraurant.type}}
        </h5>
    </div>
    <div class="col-md-6">

      <h2><strong>{{ reviews | length }} Reviews</strong></h2>

      {% if reviewWritten != true or reviewWritten != 'undefined' %}
      <div class="row text-right">
        <a href="/restaurants/{{restraurant.id}}/reviews/new" class="btn btn-primary add-rest">Add New Review</a>
      </div>
      {% endif %}

      <div class="well reviews-well">
        {% for result in reviews %}
          <div class="row">
            <p>
              {{result.review}}
            </p>
          </div>
        <div class="row">
          <div class="col-md-4">
            <h5>
              <div class="starsDiv" id="{{result.user_id}}review">
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <p id="starRating" class = "starRating">
                  {{result.rating}}
                </p>
              </div>
          </h5>
          </div>
          <div class="col-md-4 col-md-4-offset-4">
            <h5>{{result.created_at}}</h5>
          </div>
          <div class="col-md-4 col-md-4-offset-8">
            <h5>{{result.first_name}}, {{result.last_name | truncate(1, true, '.')}}</h5>
          </div>
        </div>

        {% if user.admin %}
          {% include "user_review_button.html" %}
        {% elif result.user_id === user.id %}
          {% include "user_review_button.html" %}
        {% endif %}

        <hr class ='hr-bold'>
      {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
  <script type="text/javascript" src="/js/restaurants.js"></script>
{% endblock %}
