{% extends "_base.html" %}
{% block title %}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="/css/restaurant.css">
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    {% for restaurant in restaurants %}
    {% if loop.index % 3 == 0 %}
    <div class="row">
    {% endif %}
    <div class="col-md-4">
        <h1>{{ loop.index % 3 }}</h1>
        <h1>{{restaurant.name}}</h1>
        <img src="{{restaurant.url}}" alt="restaurant image" width="250"/>
        <h4>{{restaurant.location}}</h4>
        <div class="starsDiv" id="starsDiv">
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <p id="starRating" class = "starRating">
            {{restaurant.avg_review}}
          </p>
        </div>
        <p>
          {{restaurant.description}}
        </p>
        <h4><strong>Cuisine Type:{{restaurant.type}}</strong></h4>
    </div>
    {% if loop.index % 3 == 0 %}
    </div>
    {% endif %}
    {% endfor %}
    {% if more %}
    <a href="/restaurants/page/{{nextPage}}" style="margin-left: 49%;">Next</a>
    {% endif %}

  </div>
</div>

{% endblock %}
{% block scripts %}
  <script type="text/javascript" src="/js/restaurants.js"></script>
{% endblock %}
