{% extends "_base.html" %}
{% block title %}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="/css/restaurant.css">
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
        <h1>{{restaurant[0].name}}</h1>
        <img src="https://static.pexels.com/photos/5938/food-salad-healthy-lunch-large.jpg" alt="restaurant image" width="500"/>
        <h3>{{restaurant[0].location}}</h3>
          <p>
            {{restaurant[0].avg_rating}}
          </p>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        <p>
          {{restaurant[0].description}}
        </p>
        <h4><strong>Cuisine Type:{{restaurant[0].type}}</strong></h4>
    </div>
    <div class="col-md-6">

      <h2><strong># Reviews</strong></h2>
      <hr>
        <div class="well reviews-well">
          <div class="row">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
        <div class="row">
          <div class="col-md-3">
            <button type="button" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </button>
          </div>
          <div class="col-md-3">
            <h5>01/23/2016</h5>
          </div>
          <div class="col-md-3">
            <h5>First Name, Last Initial</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
