{% extends "_base.html" %}
{% block title %}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="/css/restaurant.css">
  <link rel="stylesheet" href="/css/edit.css">
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10">

      <h2>Editing Review for {{results.name}}</h2>

      <h4>Posting as: {{user.first_name}} {{user.last_name}}</h4>
    <form method="POST" action="/restaurants/60/review/new/submit">
    <div class='rating_radio' data-id='{{results.rating}}'>

      <label class="radio-inline">
        <input type="radio" name="rating" id="inlineRadio1" value="1"> 1
      </label>
      <label class="radio-inline">
        <input type="radio" name="rating" id="inlineRadio2" value="2"> 2
      </label>
      <label class="radio-inline">
        <input type="radio" name="rating" id="inlineRadio3" value="3"> 3
      </label>
      <label class="radio-inline">
        <input type="radio" name="rating" id="inlineRadio4" value="4"> 4
      </label>
      <label class="radio-inline">
        <input type="radio" name="rating" id="inlineRadio5" value="5"> 5
      </label>
  </div>

          <br>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control test" rows="12" name="review" id="book-update-description">{{results.review}}</textarea>
          </div>
          <br>
          <div class="text-left">
            <button type="submit" name="button" class="btn btn-primary add-rest"><span class='glyphicon glyphicon-plus'></span> Add New Review</button>
          </div>
        </form>
        <br>

        </div>
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
  <script type="text/javascript" src="/js/restaurants.js"></script>
{% endblock %}
