.login {
  text-align: center;
}

#addEmpl:hover {
  cursor: pointer;
}

.oneEmp {
  margin-top: 50px;
}

.signUp,
.signIn,
.signUp:focus,
.signIn:focus {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  box-shadow: none;
}

.signUp-form {
  margin-top: 140px;
  margin-bottom: 145px;
}

.signIn-form {
  margin-top: 140px;
  margin-bottom: 250px;
}

.signUp,
.signIn {
  margin: 20px 0;
}
