

textarea{
  margin-top: 20px;
  width: 100%;
}

.login{
  text-align: center;
}

#addEmpl{
  float: right;
  padding: 15px;
  font-size: 14px;
  color: blue;
}

#addEmpl:hover{
  cursor: pointer;
}

.oneEmp{
  margin-top: 50px;
}
