.editUpdate{
    opacity: 50%;
    position: absolute;
    z-index: 300;
}

.location h1{
  background-color: white;
}

.restaurantDescription{
  background-color: white;
}

.cuisineType{
  background-color: white;
}

.entireListingEdit {
  padding-left: 43%;
  margin-bottom: 2.5%;
}
