body {
  margin-top: 50px;
  padding: 0 auto;
}

.navbar-custom,
.footer-custom {
  background: #404040;
  border-radius: 0;
  border: none;
}

#navbar-collapse-1 ul li a:hover {
  color: #F7901E;
}

.footer-custom {
  padding-top: 1.8vh;
  color: #F7901E;
}

.main-img {
  width: 100%;
  position: relative;
}

.welcome-tag {
   position: absolute;
   padding: 5px;
   top: 22vh;
   left: 1.5vw;
   background: rgba(0, 0, 0, 0.5);
   color: #fff;
   font-size: 5vw;
   font: Helvetica, Sans-Serif;
}
