.rest-main-img {
  width: 550px;
  height: 340px;
}

.reviews-well {
  overflow: scroll;
  height: 540px;
  background-color: white;
}

.starRating{
  display: none;
}

.hr-bold{
  border-top: 1px double #101010;
  margin: 10px;
}

.add-new-rev:hover {
  background: #fff;
  border-color: #404040;
}

.active {
  background: #5BC0DE !important;
}

.new-rest-form {
  margin: 40px 0;
}
