.restaurantContainer{
  padding: 20px;
}
.reviews-well{
  overflow-y: scroll;
  height: 550px;
  background-color: white;
}

.starRating{
  display: none;
}

.hr-bold{
  border-top: 1px double #101010;
  margin: 10px;
}

.review-border{
  border: 1px solid #101010;
  border-radius: 8px;
  padding: 10px;
}

.inside{
  margin-bottom: 10px;
  background: #f2f2f2;
}

.review-text{
  padding: 0px 8px 0px 16px;
  margin-bottom: 4px;
}

.test{
  max-width: 650px;
  font-size: 20px;
}
